{% extends 'base.html.twig' %}

{% block content %}
    <body>
    <header role="banner" class="navbar navbar-default navbar-own">
        <div class="container">
            <div class="navbar-header">
                <button data-target=".bs-navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--<a class="navbar-text" href="http://getbootstrap.com/">Bootstrap</a>-->
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6 sidebar-style">
                <div><img src="{{ asset('bundles/app/img/icons/icon114x114.png') }}"
                          class="img-responsive center-block img-banner text-center" alt="Responsive image"></div>
                <div><a class="text-side-over center-block">WiSE</a></div>
                <div class="text-side-over-under"><h4>Car Rental</h4></div>
                <div>
                    <hr class="hr-side">
                </div>
                <div class="margin-banner-element"><a class="text-side-normal">home</a></div>
                <div class="margin-banner-element"><a class="text-side-normal">cars</a></div>
                <div class="margin-banner-element"><a class="text-side-normal">rate</a></div>
                <div class="margin-banner-element"><a class="text-side-normal">great deals</a></div>
                <div class="margin-banner-element"><a class="text-side-normal">faqs</a></div>
                <div class="margin-banner-element"><a class="text-side-normal">travel trips</a></div>
                <div class="margin-banner-element"><a class="text-side-normal">testimonials</a></div>
                <div class="margin-banner-element"><a class="text-side-normal">contact us</a></div>
                <div>
                    <hr class="hr-side">
                </div>
            </div>
            <nav role="navigation" class="collapse navbar-collapse bs-navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><img class="flag-padd"  src="{{ asset('bundles/app/img/flags/es.png') }}"></li>
                    <li><img class="flag-padd" src="{{ asset('bundles/app/img/flags/fr.png') }}"></li>
                    <li><img class="flag-padd" src="{{ asset('bundles/app/img/flags/gb.png') }}"></li>
                    <li><a class="font-navbar" ><span>Sig up</span></a></li>
                    <li><a class="font-navbar" >Sig in</a></li>
                    <li>
                        <input class="form-control" type="text" style="margin-top: 5px; text-align: right; font-family: Raleway-Light">
                        <span class="glyphicon glyphicon-search form-control-feedback" style="color: #D43541; left: 0; margin-top: 5px;"></span>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <div class="col-md-10 col-sm-9 col-xs-6 bg-img">
            <div class="col-md-12 col-sm-12 col-xs-12 ">
                <!--<img src="img/banner/Paginaspropuesta1-22.png" class="img-responsive center-block banner-img" alt="Responsive image"-->
                <!--style="text-align: center">-->
            </div>
        </div>
        <div class="col-md-10" style="margin-top: 20px">
            <div class="col-md-9" style="padding-left: 0px;padding-right: 10px">
                <div class="col-md-5 seccion-header" style="padding-left: 5px">
                    <h1 style="font-size: 11pt; margin-top: 10px">make your reservation now!!!</h1>
                </div>

                <div class="col-md-7 text-seccion" style="padding-top: 6px; padding-bottom: 8px">
                <span class="label label-success"
                      style="font-weight: lighter; background-color:#4A7C12">View</span>
                <span class="label label-success"
                      style="font-weight: lighter; background-color:#519E59;color: #676767 ">Modify</span>
                <span class="label label-success"
                      style="font-weight: lighter; background-color:#519E59;color: #676767 ">Cancel</span>
                    <span class="text-seccion-step">step</span>
                    <span class="text-seccion-step-number-select">1</span>
                    <span class="text-seccion-step-number">2</span>
                    <span class="text-seccion-step-number">3</span>
                </div>
            </div>
            <div class="col-md-3" style="text-align: right">
                <div class="row">
                    <span><img src="{{ asset('bundles/app/img/icons/pinterestIcon.png') }}"
                               style="width: 35px; height: 35px; margin-right: 7px"></span>
                    <span><img src="{{ asset('bundles/app/img/icons/linkeIcon.png') }}"
                               style="width: 35px; height: 35px; margin-right: 7px"></span>
                    <span><img src="{{ asset('bundles/app/img/icons/iconFace.png') }}"
                               style="width: 35px; height: 35px; margin-right: 7px"></span>
                    <span><img src="{{ asset('bundles/app/img/icons/twitIcon.png') }}"
                               style="width: 35px; height: 35px; margin-right: 7px"></span>
                    <span><img src="{{ asset('bundles/app/img/icons/plusIcon.png') }}"
                               style="width: 35px; height: 35px;"></span>
                </div>
            </div>
        </div>
        <div class="col-md-10 row">

            <div class="col-md-9">
                <div class="row">
                    <br>
                    <div class="col-md-4">
                        <label class="text-label">Pick-up Location:</label>
                        <input type="email" class="form-control input-own" id="a">
                    </div>
                    <div class="col-md-3" style="padding-left: 0px">
                        <label class="text-label">Pick-up date:</label>
                        <input type="email" class="form-control input-own" id="ickupDate">
                    </div>
                    <div class="col-md-1" style="padding-left: 0px">
                        <label class="text-label">&nbsp; </label>
                        <input type="email" class="form-control input-own" id="our">
                    </div>
                    <div class="col-md-1" style="padding-left: 0px">
                        <label class="text-label">&nbsp; </label>
                        <input type="email" class="form-control input-own" id="in">
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="checkbox">
                            <label class="text-label">
                                <input type="checkbox"> Returning to same location (Uncheck for diferent location)
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3" style="padding-left: 0px">
                        <label class="text-label">Pick-up date:</label>
                        <input type="email" class="form-control input-own" id="pickupDate">
                    </div>
                    <div class="col-md-1" style="padding-left: 0px">
                        <label class="text-label">&nbsp; </label>
                        <input type="email" class="form-control input-own" id="hour">
                    </div>
                    <div class="col-md-1" style="padding-left: 0px">
                        <label class="text-label">&nbsp; </label>
                        <input type="email" class="form-control input-own" id="min">
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-2"></div>

                </div>

                <div class="row">
                    <div class="col-md-4">
                        <label class="text-label">Pick-up Location:</label>
                        <input type="email" class="form-control input-own" id="a">
                    </div>
                    <div class="col-md-4" style="padding-left: 0px">
                        <label class="text-label">Pick-up date:</label>
                        <input type="email" class="form-control input-own" id="ickupDate">
                    </div>
                    <div class="col-md-2" style="padding-left: 0px">
                    </div>
                    <div class="col-md-1" style="padding-left: 0px">
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                </div>

                <div>
                    <hr class="hr-content">
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="top-component-font-up">
                            welcome to wise rental!!!
                        </div>
                        <br>
                        <p>Lorem ipsum dolor sit Lorem ipsum dolor sit </p>
                        <p>Lorem ipsum dolor sit </p>
                        <p>Lorem ipsum dolor sit med </p>
                        <p>Lorem ipsum dolor sit med Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                            posuere erat a ante.
                            rem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                            rem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                            rem ipsum
                        </p>
                        <p>Lorem ipsum dolor sit med </p>
                        <p>
                            dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                            rem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                            rem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                        </p>
                    </div>
                </div>

                <div>
                    <hr class="hr-content">
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="top-component-font-up">FIND US!!!</div>
                        <div class=""><img src="{{ asset('bundles/app/img/general/mapTest.png') }}"></div>
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-5">
                        <div class="top-component-font-up">WISE OFFERS!!!</div>
                        <div class="">
                            <table class="table table-bordered">
                                <tr>
                                    <td style="background-color:  #D43440">
                                        <div class="font-dispo-up">baby seats</div>
                                        <br>
                                        <div class="font-dispo-down">$3 USD per day</div>
                                    </td>
                                    <td>
                                        <div><img src="{{ asset('bundles/app/img/accesorios/babySeats.png') }}"></div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="">
                            <table class="table table-bordered">
                                <tr>
                                    <td style="background-color:  #D43440">
                                        <div class="font-dispo-up">baby seats</div>
                                        <br>
                                        <div class="font-dispo-down">$3 USD per day</div>
                                    </td>
                                    <td>
                                        <div><img src="{{ asset('bundles/app/img/accesorios/gps.png') }}"></div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div>
                        <hr class="hr-content">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="top-component-font-up">Gallery</div>
                        <div class=""><img src="{{ asset('bundles/app/img/general/galleryImage.png') }}"
                                           style="width: 650px"></div>
                    </div>

                </div>

                <br>

                <div class="row" style="padding-right: 20px">
                    <div class="col-md-12 seccion-header" style="margin-left: 15px">
                        <h2 style="font-size: 11pt; margin-top: 10px">we care about you - low price guarantee! -
                            requirements - location - shuttle service - rental priced</h2>
                    </div>
                    <br>
                    <div class="col-md-12" style="padding: 0px;margin-left: 15px">
                        <div class="top-component-font-up"
                             style="font-size: 10pt; margin-top: 10px; margin-bottom: 10px">why should i rent a car
                            during my visit to cancun, mexico?
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                            rem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                            rem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                            rem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                            rem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                            rem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                        </p>
                    </div>
                </div>


                <div class="row">
                    <div>
                        <hr>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="thumbnail">
                            <img alt="300x200" data-src="holder.js/300x200" style="width: 300px; height: 200px;"
                                 src="{{ asset('bundles/app/img/general/1.jpg') }}">
                            <div class="caption">
                                <h3 class="post-title">Thumbnail label</h3>
                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget
                                    quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor
                                    id nibh ultricies vehicula ut id elit.</p>
                                <p><span class="label label-info" style="font-size: 10pt">Read More</span></p>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="thumbnail">
                            <img alt="300x200" data-src="holder.js/300x200" style="width: 300px; height: 200px;"
                                 src="{{ asset('bundles/app/img/general/7.jpg') }}">
                            <div class="caption">
                                <h3 class="post-title">Thumbnail label</h3>
                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget
                                    quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor
                                    id nibh ultricies vehicula ut id elit.</p>
                                <p><span class="label label-info" style="font-size: 10pt">Read More</span></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="thumbnail">
                            <img alt="300x200" data-src="holder.js/300x200" style="width: 300px; height: 200px;"
                                 src="{{ asset('bundles/app/img/general/3.jpg') }}">
                            <div class="caption">
                                <h3 class="post-title">Thumbnail label</h3>
                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget
                                    quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor
                                    id nibh ultricies vehicula ut id elit.</p>
                                <p><span class="label label-info" style="font-size: 10pt">Read More</span></p>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="thumbnail">
                            <img alt="300x200" data-src="holder.js/300x200" style="width: 300px; height: 200px;"
                                 src="{{ asset('bundles/app/img/general/4.jpg') }}">
                            <div class="caption">
                                <h3 class="post-title">Thumbnail label</h3>
                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget
                                    quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor
                                    id nibh ultricies vehicula ut id elit.</p>
                                <p><span class="label label-info" style="font-size: 10pt">Read More</span></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="thumbnail">
                            <img alt="300x200" data-src="holder.js/300x200" style="width: 300px; height: 200px;"
                                 src="{{ asset('bundles/app/img/general/5.jpg') }}">
                            <div class="caption">
                                <h3 class="post-title">Thumbnail label</h3>
                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget
                                    quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor
                                    id nibh ultricies vehicula ut id elit.</p>
                                <p><span class="label label-info" style="font-size: 10pt">Read More</span></p>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="thumbnail">
                            <img alt="300x200" data-src="holder.js/300x200" style="width: 300px; height: 200px;"
                                 src="{{ asset('bundles/app/img/general/6.jpg') }}">
                            <div class="caption">
                                <h3 class="post-title">Thumbnail label</h3>
                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget
                                    quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor
                                    id nibh ultricies vehicula ut id elit.</p>
                                <p><span class="label label-info" style="font-size: 10pt">Read More</span></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="thumbnail">
                            <img alt="300x200" data-src="holder.js/300x200" style="width: 300px; height: 200px;"
                                 src="{{ asset('bundles/app/img/general/8.jpg') }}">
                            <div class="caption">
                                <h3 class="post-title">Thumbnail label</h3>
                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget
                                    quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor
                                    id nibh ultricies vehicula ut id elit.</p>
                                <p><span class="label label-info" style="font-size: 10pt">Read More</span></p>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="thumbnail">
                            <img alt="300x200" data-src="holder.js/300x200" style="width: 300px; height: 200px;"
                                 src="{{ asset('bundles/app/img/general/9.jpg') }}">
                            <div class="caption">
                                <h3 class="post-title">Thumbnail label</h3>
                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget
                                    quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor
                                    id nibh ultricies vehicula ut id elit.</p>
                                <p><span class="label label-info" style="font-size: 10pt">Read More</span></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-3">
                <div class="row pull-left"
                     style="padding-left: 10px; width: 120%; margin-left: 0px; margin-top: 10px   ">
                    <table class="table table-bordered table-striped">
                        <ul class="list-group">
                            <li class="list-group-item top-component" style="border-top-left-radius: 0px;
                            border-top-right-radius: 0px;">
                                <div class="top-component-font-up">select your car</div>
                                <div class="top-component-font-lit" style="margin-top: 5px">Rates are per week in USD
                                </div>
                                <div class="top-component-font-lit" style="margin-bottom: 5px">Valid from 11/08/2016 to
                                    15/12/2016
                                </div>
                            </li>
                            <li class="list-group-item second-component">
                                <div class="second-component-font">VW Jetta (aut)</div>
                                <div class="second-component-font">$203 USD</div>

                            </li>
                            <li class="list-group-item">
                                <div><img src="{{ asset('bundles/app/img/car/car.png') }}"></div>
                            </li>
                            <li class="list-group-item button-component" style="padding: 0px;border-bottom-left-radius: 0px;
                            border-bottom-right-radius: 0px;">
                                <div><a class="button-component" role="button" href="#">select</a></div>
                            </li>
                        </ul>
                    </table>
                </div>

                <div class="row pull-left"
                     style="padding-left: 10px; width: 120%; margin-left: 0px;MARGIN-TOP: -30px;">
                    <table class="table table-bordered table-striped">
                        <ul class="list-group">
                            <li class="list-group-item top-component" style="border-top-left-radius: 0px;
                            border-top-right-radius: 0px;">
                                <div class="top-component-font-up">select your car</div>
                                <div class="top-component-font-lit" style="margin-top: 5px">Rates are per week in USD
                                </div>
                                <div class="top-component-font-lit" style="margin-bottom: 5px">Valid from 11/08/2016 to
                                    15/12/2016
                                </div>
                            </li>
                            <li class="list-group-item second-component">
                                <div class="second-component-font">VW Jetta (aut)</div>
                                <div class="second-component-font">$203 USD</div>

                            </li>
                            <li class="list-group-item">
                                <div><img src="{{ asset('bundles/app/img/car/car.png') }}"></div>
                            </li>
                            <li class="list-group-item button-component" style="padding: 0px;border-bottom-left-radius: 0px;
                            border-bottom-right-radius: 0px;">
                                <div><a class="button-component" role="button" href="#">select</a></div>
                            </li>
                        </ul>
                    </table>
                </div>

                <div class="row pull-left"
                     style="padding-left: 10px; width: 120%; margin-left: 0px;MARGIN-TOP: -30px;">
                    <table class="table table-bordered table-striped">
                        <ul class="list-group">
                            <li class="list-group-item top-component" style="border-top-left-radius: 0px;
                            border-top-right-radius: 0px;">
                                <div class="top-component-font-up">select your car</div>
                                <div class="top-component-font-lit" style="margin-top: 5px">Rates are per week in USD
                                </div>
                                <div class="top-component-font-lit" style="margin-bottom: 5px">Valid from 11/08/2016 to
                                    15/12/2016
                                </div>
                            </li>
                            <li class="list-group-item second-component">
                                <div class="second-component-font">VW Jetta (aut)</div>
                                <div class="second-component-font">$203 USD</div>

                            </li>
                            <li class="list-group-item">
                                <div><img src="{{ asset('bundles/app/img/car/car.png') }}"></div>
                            </li>
                            <li class="list-group-item button-component" style="padding: 0px;border-bottom-left-radius: 0px;
                            border-bottom-right-radius: 0px;">
                                <div><a class="button-component" role="button" href="#">select</a></div>
                            </li>
                        </ul>
                    </table>
                </div>

                <div class="row pull-left"
                     style="padding-left: 10px; width: 120%; margin-left: 0px;MARGIN-TOP: -30px;">
                    <table class="table table-bordered table-striped">
                        <ul class="list-group">
                            <li class="list-group-item top-component" style="border-top-left-radius: 0px;
                            border-top-right-radius: 0px;">
                                <div class="top-component-font-up">select your car</div>
                                <div class="top-component-font-lit" style="margin-top: 5px">Rates are per week in USD
                                </div>
                                <div class="top-component-font-lit" style="margin-bottom: 5px">Valid from 11/08/2016 to
                                    15/12/2016
                                </div>
                            </li>
                            <li class="list-group-item second-component">
                                <div class="second-component-font">VW Jetta (aut)</div>
                                <div class="second-component-font">$203 USD</div>

                            </li>
                            <li class="list-group-item">
                                <div><img src="{{ asset('bundles/app/img/car/car.png') }}"></div>
                            </li>
                            <li class="list-group-item button-component" style="padding: 0px;border-bottom-left-radius: 0px;
                            border-bottom-right-radius: 0px;">
                                <div><a class="button-component" role="button" href="#">select</a></div>
                            </li>
                        </ul>
                    </table>
                </div>

                <div class="row pull-left"
                     style="padding-left: 10px; width: 120%; margin-left: 0px;MARGIN-TOP: -30px;">
                    <table class="table table-bordered table-striped">
                        <ul class="list-group">
                            <li class="list-group-item top-component" style="border-top-left-radius: 0px;
                            border-top-right-radius: 0px;">
                                <div class="top-component-font-up">select your car</div>
                                <div class="top-component-font-lit" style="margin-top: 5px">Rates are per week in USD
                                </div>
                                <div class="top-component-font-lit" style="margin-bottom: 5px">Valid from 11/08/2016 to
                                    15/12/2016
                                </div>
                            </li>
                            <li class="list-group-item second-component">
                                <div class="second-component-font">VW Jetta (aut)</div>
                                <div class="second-component-font">$203 USD</div>

                            </li>
                            <li class="list-group-item">
                                <div><img src="{{ asset('bundles/app/img/car/car.png') }}"></div>
                            </li>
                            <li class="list-group-item button-component" style="padding: 0px;border-bottom-left-radius: 0px;
                            border-bottom-right-radius: 0px;">
                                <div><a class="button-component" role="button" href="#">select</a></div>
                            </li>
                        </ul>
                    </table>
                </div>

                <div class="row pull-left"
                     style="padding-left: 10px; width: 120%; margin-left: 0px;MARGIN-TOP: -30px;">
                    <table class="table table-bordered table-striped">
                        <ul class="list-group">
                            <li class="list-group-item top-component" style="border-top-left-radius: 0px;
                            border-top-right-radius: 0px;">
                                <div class="top-component-font-up">select your car</div>
                                <div class="top-component-font-lit" style="margin-top: 5px">Rates are per week in USD
                                </div>
                                <div class="top-component-font-lit" style="margin-bottom: 5px">Valid from 11/08/2016 to
                                    15/12/2016
                                </div>
                            </li>
                            <li class="list-group-item second-component">
                                <div class="second-component-font">VW Jetta (aut)</div>
                                <div class="second-component-font">$203 USD</div>

                            </li>
                            <li class="list-group-item">
                                <div><img src="{{ asset('bundles/app/img/car/car.png') }}"></div>
                            </li>
                            <li class="list-group-item button-component" style="padding: 0px;border-bottom-left-radius: 0px;
                            border-bottom-right-radius: 0px;">
                                <div><a class="button-component" role="button" href="#">select</a></div>
                            </li>
                        </ul>
                    </table>
                </div>

                <div class="row pull-left"
                     style="padding-left: 10px; width: 120%; margin-left: 0px;MARGIN-TOP: -30px;">
                    <table class="table table-bordered table-striped">
                        <ul class="list-group">
                            <li class="list-group-item top-component" style="border-top-left-radius: 0px;
                            border-top-right-radius: 0px;">
                                <div class="top-component-font-up">select your car</div>
                                <div class="top-component-font-lit" style="margin-top: 5px">Rates are per week in USD
                                </div>
                                <div class="top-component-font-lit" style="margin-bottom: 5px">Valid from 11/08/2016 to
                                    15/12/2016
                                </div>
                            </li>
                            <li class="list-group-item second-component">
                                <div class="second-component-font">VW Jetta (aut)</div>
                                <div class="second-component-font">$203 USD</div>

                            </li>
                            <li class="list-group-item">
                                <div><img src="{{ asset('bundles/app/img/car/car.png') }}"></div>
                            </li>
                            <li class="list-group-item button-component" style="padding: 0px;border-bottom-left-radius: 0px;
                            border-bottom-right-radius: 0px;">
                                <div><a class="button-component" role="button" href="#">select</a></div>
                            </li>
                        </ul>
                    </table>
                </div>

            </div>

        </div>

        <div class="col-md-2"></div>
        <div class="col-md-10 row" style="background-color: black;margin-left: 15px;height: 250px">
            <div class="col-md-9">
                <p style="color: #57B78A; margin-top: 10px">Rental car service avalible in Yucatan</p>
                <p style="color: #4e4e4e; margin-top: -10px">Merida - Uxmal - Celestum - Progresso Beach - Telchac
                    Puerto</p>

                <p style="color: #57B78A; margin-top: 10px">Rental car service avalible in Yucatan</p>
                <p style="color: #4e4e4e; margin-top: -10px">Merida - Uxmal - Celestum - Progresso Beach - Telchac
                    Puerto</p>

                <p style="color: #57B78A; margin-top: 10px">Rental car service avalible in Yucatan</p>
                <p style="color: #4e4e4e; margin-top: -10px">Merida - Uxmal - Celestum - Progresso Beach - Telchac
                    Puerto</p>
                <br>
                <p style="color: #29a3db; margin-top: -10px">Merida - Uxmal - Celestum - Progresso Beach - Telchac
                    Puerto</p>

            </div>
            <div class="col-md-3" style="border-left: 1px solid rgba(99, 125, 129, 0.44);margin-top: 25px">
                <p>Face</p>
                <p>Face</p>
                <p>Face</p>
                <p>Face</p>
                <p>Face</p>
                <p>Face</p>
            </div>

            <div class="col-md-12" style="border-top: 1px solid rgba(99, 125, 129, 0.44);margin-top: 25px">
                <p style="color: #29a3db;text-align: center; margin-top: 10px">&copy; CopyRight</p>

            </div>
        </div>


    </body>
{% endblock %}



