{% extends '::base.html.twig' %}


{% block javascripts %}
    <script>
        $(function () {
            $(document).tooltip({
                position: {
                    my: "center bottom-20",
                    at: "center top",
                    using: function (position, feedback) {
                        $(this).css(position);
                        $("<div>")
                                .addClass("arrow")
                                .addClass(feedback.vertical)
                                .addClass(feedback.horizontal)
                                .appendTo(this);
                    }
                }
            });
        });
        $(function () {
            $(document).tooltip({
                items: "img, [data-geo], [title]",
                content: function () {
                    var element = $(this);
                    if (element.is("[data-geo]")) {
                        var text = element.text();
                        return "<img class='map' alt='" + text +
                                "' src='http://localhost/symfony/2.7/install/source/WiseCar/web/bundles/app/frontend/icons/icon114x1142.png" +

                                "'>";
                    }
                    if (element.is("[title]")) {
                        return element.attr("title");
                    }
                    if (element.is("img")) {
                        return element.attr("alt");
                    }
                }
            });
        });
    </script>
{% endblock %}

{% block activelicars %}{{ "active-li" }}{% endblock %}
{% block activelicarsimage %}
    <span class='hidden-xs'><img class="arrow-side-bar" src='{{ asset('bundles/app/frontend/general/arrow-li.png') }}'></span>
{% endblock %}

{% block content %}

    <div class="col-md-12 bar-up-margin">
        <div class="col-md-9 bar-up-padd">
            <div class="col-md-12 seccion-header bar-up-padd-left">
                <h1 class="bar-up-font-main">Wise post</h1>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 text-right">
            {% include 'AppBundle:default:redes.html.twig' %}
        </div>
    </div>
    <div class="col-md-12 row">
        <div class="col-md-9">
            <div class="col-md-12">
                <div class="sub-general-font top-component-font-up ">{{ entity.titulo }}
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <a target="_blank" href="{{ asset('uploads/images/products/') }}{{ entity.imagen }}"><img
                                    class="blog-img"
                                    src="{{ asset('uploads/images/products/') }}{{ entity.imagen }}" ></a>
                    </div>
                    <div class="col-md-6">
                        <div class="margin-top-copy"></div>
                        <div class="col-md-12 col-xs-4  margin-social-down"><a target="_blank"
                                                                               href="http://www.facebook.com/sharer.php?s=100&p[url]={{ path(app.request.attributes.get('_route'),
                                                                               app.request.attributes.get('_route_params')) }}"><img
                                        class="icon-social-comun"
                                        src="{{ asset('bundles/app/frontend/icons/iconFace.png') }}" alt="Share this post"/><span
                                        class="text-side-normal "> Share this post</span></a></div>

                        <div class="col-md-12 col-xs-4  margin-social-down"><a target="_blank"
                                                                               href="https://twitter.com/share"
                                                                               data-via="easywayrentacar"><img
                                        class="icon-social-comun"
                                        src="{{ asset('bundles/app/frontend/icons/twitIcon.png') }}" alt="Share this post"/><span
                                        class="text-side-normal "> Share this post</span></a></div>

                        <div class="col-md-12 col-xs-4  margin-social-down"><a target="_blank"
                                                                               href=" https://plus.google.com/share?url={{ path(app.request.attributes.get('_route'),
                                                                               app.request.attributes.get('_route_params')) }}"><img
                                        class="icon-social-comun"
                                        src="{{ asset('bundles/app/frontend/icons/plusIcon.png') }}" alt="Share this post"/><span
                                        class="text-side-normal "> Share this post</span></a></div>
                    </div>

                </div>
                <div class="row">
                    <p>
                        {{ entity.texto | raw }}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            {% include 'AppBundle:default:lastminutecars.html.twig' %}
        </div>

    </div>

{% endblock %}


