{% block redes %}
    <div class="row">
        {#INCLUDE DEL TWIG REDES#}

        {#<span><img src="{{ asset('bundles/app/frontend/icons/pinterestIcon.png') }}"#}
                   {#class="icon-social-comun icon-social-marginR"></span>#}
                    {#<span><img src="{{ asset('bundles/app/frontend/icons/linkeIcon.png') }}"#}
                               {#class="icon-social-comun icon-social-marginR"></span>#}
                    <span><a href="https://www.facebook.com/easywaycancuncarrental
" target="_blank"><img src="{{ asset('bundles/app/frontend/icons/7035face.gif') }}" alt="Go to facebook page"
                               class="icon-social-comun-gen icon-social-marginR"></a></span>
                    <span><a href="https://twitter.com/easywayrentacar
" target="_blank"><img src="{{ asset('bundles/app/frontend/icons/7035tw.gif') }}" alt="Go to Twitter page"
                               class="icon-social-comun-gen icon-social-marginR"></a></span>
                    <span><a href="https://plus.google.com/117548822535735689583/posts
" target="_blank"><img src="{{ asset('bundles/app/frontend/icons/7035gp.gif') }}" alt="Go to Gplus page"
                               class="icon-social-comun-gen"></a></span>
    </div>
{% endblock %}